Bochs*
*.suo
*.user
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

*.sln.cache

*.vspscc
*.vssscc

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

Bootloader/main.bin

Kernel/keloader.exe
Kernel/cskeloader.exe

Kernel/keloader.os.bin
Kernel/cskeloader.os.bin

Kernel/Combined.bc
Kernel/Combined.opt.bc
Kernel/Combined.opt.o
Kernel/Combined.opt.s
Kernel/Combined.s

CoreLib.ll
CSKernel.ll

Kernel/CoreLib.ll
Kernel/cmain.o
Kernel/keloader.o
Kernel/CSKernel.ll
Kernel/CSKernel.o

*.s.o
*.c.o

pcitables.o

Kernel/CSKernel/old.txt

Kernel\keloader.exports.ld

*.exports.def
*.exports.lib
*.exports.map
*.exports.c

keloader.exports.s

OSDev_CHS_50_16_63.img